<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>

    <!--Slot attribute defines the placement of the element. (start, end or icon-only(for icon element)).-->
    <ion-buttons slot="end">

      <!--Edit button. Visible if drag & drop is disabled.-->
      <ion-button *ngIf="itemDragDisabled" (click)="toggleDragDisabled()">
        Edit
      </ion-button>

      <!--Edit Done button. Visible when drag & drop is enabled.-->
      <ion-button *ngIf="!itemDragDisabled" (click)="toggleDragDisabled()">
        Done
      </ion-button>

      <!--Add todo Item button.-->
      <ion-button (click)="addTodoAlert()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!--Disabled attribute to true prevents drag and drop.-->
    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" [disabled]="itemDragDisabled">



    <!--Item that slides and display item options.-->
    <ion-item-sliding *ngFor="let todo of todos; let todoIndex = index">
      <ion-item>

        <!--Item label.-->
        <ion-label>{{todo}}</ion-label>

        <!--The Draggable icon.-->
        <ion-reorder *ngIf="!itemDragDisabled"></ion-reorder>
      </ion-item>


      <!--option for ion-item-sliding component.-->
      <ion-item-options side="end">

        <!--ionic button and attributes for color and display mode. (default display mode is square with rounded edges).-->
        <ion-button color="danger" expand="full" (click)="archiveItem(todoIndex)">

          <!--ion-icon can use default ionic icons from its library. Name attribute is a shorcut to add icons respective to the default os style.-->
          <!--and shorcut to ios="ios-trash" md="md-trash"-->
          <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-item-options>
    </ion-item-sliding>

    </ion-reorder-group>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" >
    <!--<ion-fab-button  [routerLink]="'/archived-todos'" routerDirection="forward">-->
    <ion-fab-button  (click)="navigateToArchivedTodos()">
      <ion-icon name="archive"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
